<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>A00001</string>
		<key>Name</key>
		<string>Apple Pie</string>
		<key>NumRatings</key>
		<integer>106</integer>
		<key>Rating</key>
		<real>3.5</real>
		<key>Price</key>
		<real>2.99</real>
		<key>Icon</key>
		<string>ApplePie.png</string>
		<key>Detail</key>
		<string>Amount Per Serving
Calories                                   405.5  
Dietary Fiber                            3.3   g                 
Sugars                                     41.1 g 
Total Fat                                  15.4 g                     
Total Carbohydrate                 65.8 g                         

Amount Serving Size: 1           169 g</string>
		<key>Image</key>
		<string>ApplePie2x.png</string>
		<key>Calories</key>
		<string>405.5</string>
		<key>Dietary Fiber</key>
		<string>3.3 g</string>
		<key>Sugars</key>
		<string>41.1 g</string>
		<key>Total Fat</key>
		<string>15.4 g</string>
		<key>Total Carbohydrate</key>
		<string>65.8 g</string>
		<key>Amount Serving Size</key>
		<string>169 g</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>A00002</string>
		<key>Name</key>
		<string>Lemon Pie</string>
		<key>NumRatings</key>
		<integer>114</integer>
		<key>Rating</key>
		<real>4.5</real>
		<key>Price</key>
		<real>2.99</real>
		<key>Icon</key>
		<string>LemonPie.png</string>
		<key>Detail</key>
		<string>Amount Per Serving
Calories                                   405.5  
Dietary Fiber                            3.3   g                 
Sugars                                     41.1 g 
Total Fat                                  15.4 g                     
Total Carbohydrate                 65.8 g                         

Amount Serving Size: 1           169 g</string>
		<key>Image</key>
		<string>LemonPie2x.png</string>
		<key>Calories</key>
		<string>399</string>
		<key>Dietary Fiber</key>
		<string>4.5 g</string>
		<key>Sugars</key>
		<string>13.6 g</string>
		<key>Total Fat</key>
		<string>41.3 g</string>
		<key>Total Carbohydrate</key>
		<string>71.5 g</string>
		<key>Amount Serving Size</key>
		<string>201 g</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>A00003</string>
		<key>Name</key>
		<string>Milk Pudding</string>
		<key>NumRatings</key>
		<integer>87</integer>
		<key>Rating</key>
		<integer>4</integer>
		<key>Price</key>
		<real>3.99</real>
		<key>Icon</key>
		<string>MilkPudding.png</string>
		<key>Detail</key>
		<string>Amount Per Serving
Calories                                   405.5  
Dietary Fiber                            3.3   g                 
Sugars                                     41.1 g 
Total Fat                                  15.4 g                     
Total Carbohydrate                 65.8 g                         

Amount Serving Size: 1           169 g</string>
		<key>Image</key>
		<string>MilkPudding2x.png</string>
		<key>Calories</key>
		<string>411</string>
		<key>Dietary Fiber</key>
		<string>3.6 g</string>
		<key>Sugars</key>
		<string>15.2 g</string>
		<key>Total Fat</key>
		<string>12.3 g</string>
		<key>Total Carbohydrate</key>
		<string>91.5 g</string>
		<key>Amount Serving Size</key>
		<string>188 g</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>A00004</string>
		<key>Name</key>
		<string>Cream Roll</string>
		<key>NumRatings</key>
		<integer>254</integer>
		<key>Rating</key>
		<real>3</real>
		<key>Price</key>
		<real>1.99</real>
		<key>Icon</key>
		<string>CreamRoll.png</string>
		<key>Detail</key>
		<string>Amount Per Serving
Calories                                   405.5  
Dietary Fiber                            3.3   g                 
Sugars                                     41.1 g 
Total Fat                                  15.4 g                     
Total Carbohydrate                 65.8 g                         

Amount Serving Size: 1           169 g</string>
		<key>Image</key>
		<string>CreamRoll2x.png</string>
		<key>Calories</key>
		<string>321</string>
		<key>Dietary Fiber</key>
		<string>4.1g</string>
		<key>Sugars</key>
		<string>12.1 g</string>
		<key>Total Fat</key>
		<string>35.4 g</string>
		<key>Total Carbohydrate</key>
		<string>64.1 g</string>
		<key>Amount Serving Size</key>
		<string>311 g</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>A00005</string>
		<key>Name</key>
		<string>Cheese Sandwich</string>
		<key>NumRatings</key>
		<integer>422</integer>
		<key>Rating</key>
		<real>3</real>
		<key>Price</key>
		<real>4.99</real>
		<key>Icon</key>
		<string>CheeseSandwich.png</string>
		<key>Detail</key>
		<string>Amount Per Serving
Calories                                   405.5  
Dietary Fiber                            3.3   g                 
Sugars                                     41.1 g 
Total Fat                                  15.4 g                     
Total Carbohydrate                 65.8 g                         

Amount Serving Size: 1           169 g</string>
		<key>Image</key>
		<string>CheeseSandwich2x.png</string>
		<key>Calories</key>
		<string>451</string>
		<key>Dietary Fiber</key>
		<string>3.9 g</string>
		<key>Sugars</key>
		<string>12.1 g</string>
		<key>Total Fat</key>
		<string>61.7 g</string>
		<key>Total Carbohydrate</key>
		<string>87.4 g</string>
		<key>Amount Serving Size</key>
		<string>322 g</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>A00006</string>
		<key>Name</key>
		<string>Beef Sandwich</string>
		<key>NumRatings</key>
		<integer>45</integer>
		<key>Rating</key>
		<real>4</real>
		<key>Price</key>
		<real>4.99</real>
		<key>Icon</key>
		<string>BeefSandwich.png</string>
		<key>Detail</key>
		<string>Amount Per Serving
Calories                                   405.5  
Dietary Fiber                            3.3   g                 
Sugars                                     41.1 g 
Total Fat                                  15.4 g                     
Total Carbohydrate                 65.8 g                         

Amount Serving Size: 1           169 g</string>
		<key>Image</key>
		<string>BeefSandwich2x.png</string>
		<key>Calories</key>
		<string>433</string>
		<key>Dietary Fiber</key>
		<string>4.7 g</string>
		<key>Sugars</key>
		<string>9.1 g</string>
		<key>Total Fat</key>
		<string>41.5 g</string>
		<key>Total Carbohydrate</key>
		<string>88.1 g</string>
		<key>Amount Serving Size</key>
		<string>333 g</string>
	</dict>
</array>
</plist>
